<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>dataForm</title>
<meta name="renderer" content="webkit" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1" />
<link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all" />
<!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
</head>
<body>

	<table class="layui-hide" id="stab" lay-filter="stab"></table>

	<script type="text/html" id="toolbarDemo">
  <div class="layui-btn-container">
<button class="layui-btn layui-btn-sm" lay-event="add">添加</button>
    <button class="layui-btn layui-btn-sm" lay-event="getCheckDataSave">保存数据</button>
    <button class="layui-btn layui-btn-sm" lay-event="getCheckLength">获取选中数目</button>
    <button class="layui-btn layui-btn-sm" lay-event="isAll">验证是否全选</button>
 <button class="layui-btn layui-btn-sm" lay-event="reFlesh">取消</button>
 </div>
</script>
	<script type="text/html" id="barDemo">
  <a class="layui-btn layui-btn-xs" lay-event="exit">exit</a>
</script>
	<script th:src="@{/layui/layui.js}"></script>
	<script th:src="@{/layui/lay/modules/jquery.js}"></script>
	<script type="text/html" id="isShow"> 
    {{#  if(d.comfirmState == 1){ }}
    <input type="checkbox" name="menuDisplay" lay-skin="switch" value="1" lay-text="已核对|未核对" lay-filter="isShow" checked="checked" lay-event="comfirm1" id="comfirm" class="comfirm"/>
    {{#  } else {console.log(d); }}
    <input type="checkbox" name="menuDisplay"  lay-skin="switch" value="0" lay-text="已核对|未核对" lay-filter="isShow" lay-event="comfirm0" id="comfirm" class="comfirm"/>
    {{#  } }}

</script>
	<script>
layui.use('table', function(){
  var table = layui.table;
  
  var tableIns = table.render({
    elem: '#stab'
 //   	,response: {
   // 	   statusCode: 200 //规定成功的状态码，默认：0
    //	  } 
    ,url:'/TMS/source/teacher_page'
    ,toolbar: '#toolbarDemo'
    ,title: '生源信息表'
    ,cols: [[
      {type: 'checkbox', fixed: 'left'}
      ,{ type: 'numbers', title: '序号'}
    //  ,{field:'id', title:'ID', width:80, fixed: 'left', unresize: true, sort: true, totalRowText: '合计'}
      ,{field:'name', title:'姓名', width:120}//, edit: 'text'
      ,{field:'studentNum', title:'学生号', width:100, sort: true,edit: 'text'}
      ,{field:'studentsResource', title:'生源地', width:250, sort: true,  edit: 'text'}    
      ,{field:'createTime', title:'创建时间', width:220}
      ,{field:'approve', title:'核对状态',width:220}
     // ,{fixed: 'right', title:'操作', toolbar: '#barDemo', width:150}
    ]]
	,width : 'auto' //宽度自动，100%父级宽度，超出宽度出现滚动
	,height : 540 //固定容器高度，内容超出高度出现滚动
    ,limits: [10,20,30,100,500,1000]
    ,limit: 10 //每页默认显示的数量
    ,page: true
  });
  //工具栏事件
  table.on('toolbar(stab)', function(obj){
    var checkStatus = table.checkStatus(obj.config.id);
    var data = checkStatus.data;
    switch(obj.event){
    case 'add':
		var num = table.cache.stab.length + 1;
		dataBak = [];
		var tableBak = table.cache.stab;
		console.log(tableBak);
		/*<![CDATA[*/
		for (var i = 0; i < tableBak.length; i++) {
		    dataBak.push(tableBak[i]);      //将之前的数组备份
		}
		/*]]>*/ 
		dataBak.push({   
			"LAY_TABLE_INDEX": table.cache.stab.length
			,"approve": ""
			,"createTime": ""
		    ,"name": ""
		    ,"studentNum": ""
		    ,"studentsResource": ""		  	    
		});
    	var totalRecord = dataBak.length;
    	var pageSize = layui.$(".layui-laypage-limits").find("select").val();
    	if(layui.$.type(pageSize) == "string"){
    	    pageSize = parseInt(pageSize);
    	}

    	var currPageNo = Math.ceil(totalRecord / pageSize);
		table.reload("stab",{
		      page : {
		          curr : currPageNo
		       },
		    data:dataBak   // 将新数据重新载入表格
		    ,url :""
		});
    	break;
      case 'getCheckDataSave':
    	    if(checkStatus.data.length == 0 ){
    	    	layer.msg("未选中");
    	    	return;
    	    }    
    	  console.log("checkStatus===");
    	  console.log(checkStatus);
        var data = checkStatus.data;
      //  layer.alert(JSON.stringify(data));
   	    var arrs = [];
   	    var tabs = table.cache.stab;
   	    var count = 0;
	   	 for(let key  in tabs){
	         if(tabs[key].LAY_CHECKED == true){
	        	 console.log(layui.$(".comfirm"));
	         	var comfirmStatus = 0;
	        	 if(layui.$(".comfirm").eq(count).next().children().text() == "已审批"){
		    	//	data.eq(count).comfirmState = 1;
	        		 comfirmStatus = 1;
		    	}else{
		    	//	data.eq(count).comfirmState = 0;
		    		comfirmStatus = 0;
		    } 
	    		var daCount = 0;
	    		for(let da  in data){
	    			if(tabs[key].id == data[da].id){
	    				data[da].comfirmState = comfirmStatus;
	    			}
	    			daCount ++;
	    		}
	         }
	   		count ++;
	   	 }
      //  console.log(typeof(data));
      //  console.log(data);
        layui.$.ajax({
            url: "/TMS/source/source_inf_change/",
            type: "POST",            
            data:{datas:JSON.stringify(data)},
            dataType: "json",
            success: function(data){
                if(data.code==0){
          //          obj.del();
          //          layer.close(index);
       //             layer.msg("删除成功", {icon: 6});
//       table.reload('stab' , function(){
  //  	   layer.msg("修改成功", {icon: 6});
    //   }); 
       layer.msg("修改成功", {icon: 6});   
       tableIns.reload();
          //          parent.location.reload();
                }else{
                  layer.msg("修改失败"+data.message, {icon: 5});
                }
                return false;
            }
        });
      break;
      case 'getCheckLength':
        var data = checkStatus.data;
        layer.msg('选中了：'+ data.length + ' 个');
      break;
      case 'isAll':
        layer.msg(checkStatus.isAll ? '全选': '未全选')
      break;
      case 'reFlesh':
    	  tableIns.reload();
    	  break;
    };
  });
});

</script>

</body>
</html>