<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ssm.dao.MenuDao" >
  <resultMap id="BaseResultMap" type="com.ssm.domain.Menu" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <id column="menubarid" property="menubarid" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="DECIMAL" />
    <result column="status" property="status" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, menubarid, name, price, status
  </sql>
  
  <delete id="delmenuByids" parameterType="String">
        delete from menu where id in
        <foreach item="dellist" collection="array" open="(" separator="," close=")">
            #{dellist}
        </foreach>
    </delete>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.ssm.domain.Menu" >
    select 
    <include refid="Base_Column_List" />
    from menu
    where id = #{id,jdbcType=INTEGER}
      and menubarid = #{menubarid,jdbcType=INTEGER}
  </select>
  <select id="selectcount" resultType="java.lang.Integer" >
    select 
   count(*)
    from menu 
  </select>
  <select id="selectAll" resultMap="BaseResultMap" parameterType="com.ssm.domain.Menu" >
    select 
    *
    from menu limit ${page},${limit}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.ssm.domain.Menu" >
    delete from menu
    where id = #{id,jdbcType=INTEGER}
      and menubarid = #{menubarid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ssm.domain.Menu" >
    insert into menu (id, menubarid, name, 
      price, status)
    values (#{id,jdbcType=INTEGER}, #{menubarid,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{price,jdbcType=DECIMAL}, #{status,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ssm.domain.Menu" >
    insert into menu
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="menubarid != null" >
        menubarid,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="status != null" >
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="menubarid != null" >
        #{menubarid,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ssm.domain.Menu" >
    update menu
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
      and menubarid = #{menubarid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ssm.domain.Menu" >
    update menu
    set name = #{name,jdbcType=VARCHAR},
      price = #{price,jdbcType=DECIMAL},
      status = #{status,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
      and menubarid = #{menubarid,jdbcType=INTEGER}
  </update>
    <update id="updateById" parameterType="com.ssm.domain.Menu" >
    update menu
	 set 
id=#{id,jdbcType=INTEGER},
name = #{name,jdbcType=VARCHAR},
 price = #{price,jdbcType=DECIMAL},
      status =#{status,jdbcType=CHAR}, 
 menubarid =#{menubarid,jdbcType=INTEGER} 
    where id =#{iid,jdbcType=INTEGER}
    and menubarid=#{menubariid,jdbcType=INTEGER}
  </update>
</mapper>