<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ssm.dao.OrderDao" >
  <resultMap id="BaseResultMap" type="com.ssm.domain.Order" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <id column="order_id" property="orderId" jdbcType="INTEGER" />
    <id column="shop_infid" property="shopInfid" jdbcType="INTEGER" />
    <id column="costomer_infid" property="costomerInfid" jdbcType="INTEGER" />
    <id column="distributor_infid" property="distributorInfid" jdbcType="INTEGER" />
    <id column="menuid" property="menuid" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="CHAR" />
    <result column="payprice" property="payprice" jdbcType="DECIMAL" />
    <result column="isReturnPay" property="isreturnpay" jdbcType="CHAR" />
    <result column="isPay" property="ispay" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, order_id, shop_infid, costomer_infid, distributor_infid, menuid, status, payprice, 
    isReturnPay, isPay
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.ssm.domain.OrderKey" >
    select 
    <include refid="Base_Column_List" />
    from order
    where id = #{id,jdbcType=INTEGER}
      and order_id = #{orderId,jdbcType=INTEGER}
      and shop_infid = #{shopInfid,jdbcType=INTEGER}
      and costomer_infid = #{costomerInfid,jdbcType=INTEGER}
      and distributor_infid = #{distributorInfid,jdbcType=INTEGER}
      and menuid = #{menuid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.ssm.domain.OrderKey" >
    delete from order
    where id = #{id,jdbcType=INTEGER}
      and order_id = #{orderId,jdbcType=INTEGER}
      and shop_infid = #{shopInfid,jdbcType=INTEGER}
      and costomer_infid = #{costomerInfid,jdbcType=INTEGER}
      and distributor_infid = #{distributorInfid,jdbcType=INTEGER}
      and menuid = #{menuid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ssm.domain.Order" >
    insert into order (id, order_id, shop_infid, 
      costomer_infid, distributor_infid, menuid, 
      status, payprice, isReturnPay, 
      isPay)
    values (#{id,jdbcType=INTEGER}, #{orderId,jdbcType=INTEGER}, #{shopInfid,jdbcType=INTEGER}, 
      #{costomerInfid,jdbcType=INTEGER}, #{distributorInfid,jdbcType=INTEGER}, #{menuid,jdbcType=INTEGER}, 
      #{status,jdbcType=CHAR}, #{payprice,jdbcType=DECIMAL}, #{isreturnpay,jdbcType=CHAR}, 
      #{ispay,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ssm.domain.Order" >
    insert into order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="shopInfid != null" >
        shop_infid,
      </if>
      <if test="costomerInfid != null" >
        costomer_infid,
      </if>
      <if test="distributorInfid != null" >
        distributor_infid,
      </if>
      <if test="menuid != null" >
        menuid,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="payprice != null" >
        payprice,
      </if>
      <if test="isreturnpay != null" >
        isReturnPay,
      </if>
      <if test="ispay != null" >
        isPay,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=INTEGER},
      </if>
      <if test="shopInfid != null" >
        #{shopInfid,jdbcType=INTEGER},
      </if>
      <if test="costomerInfid != null" >
        #{costomerInfid,jdbcType=INTEGER},
      </if>
      <if test="distributorInfid != null" >
        #{distributorInfid,jdbcType=INTEGER},
      </if>
      <if test="menuid != null" >
        #{menuid,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
      <if test="payprice != null" >
        #{payprice,jdbcType=DECIMAL},
      </if>
      <if test="isreturnpay != null" >
        #{isreturnpay,jdbcType=CHAR},
      </if>
      <if test="ispay != null" >
        #{ispay,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ssm.domain.Order" >
    update order
    <set >
      <if test="status != null" >
        status = #{status,jdbcType=CHAR},
      </if>
      <if test="payprice != null" >
        payprice = #{payprice,jdbcType=DECIMAL},
      </if>
      <if test="isreturnpay != null" >
        isReturnPay = #{isreturnpay,jdbcType=CHAR},
      </if>
      <if test="ispay != null" >
        isPay = #{ispay,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
      and order_id = #{orderId,jdbcType=INTEGER}
      and shop_infid = #{shopInfid,jdbcType=INTEGER}
      and costomer_infid = #{costomerInfid,jdbcType=INTEGER}
      and distributor_infid = #{distributorInfid,jdbcType=INTEGER}
      and menuid = #{menuid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ssm.domain.Order" >
    update order
    set status = #{status,jdbcType=CHAR},
      payprice = #{payprice,jdbcType=DECIMAL},
      isReturnPay = #{isreturnpay,jdbcType=CHAR},
      isPay = #{ispay,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
      and order_id = #{orderId,jdbcType=INTEGER}
      and shop_infid = #{shopInfid,jdbcType=INTEGER}
      and costomer_infid = #{costomerInfid,jdbcType=INTEGER}
      and distributor_infid = #{distributorInfid,jdbcType=INTEGER}
      and menuid = #{menuid,jdbcType=INTEGER}
  </update>
</mapper>