<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>dataForm</title>
<meta name="renderer" content="webkit" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1" />

<link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all" />
<!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
</head>
<body>
<table class="layui-hide" id="ntab" lay-filter="ntab" ></table>

	<script th:src="@{/layui/layui.js}"></script>
	<script th:src="@{/layui/lay/modules/jquery.js}"></script>
	<script th:inline="javascript">

layui.use(['form','table'], function(){
	var table = layui.table;  
	var form = layui.form;
  var tablePostData = new Object();
  var tableIns = table.render({
    elem: '#ntab'
    ,url:'/TMS/notice/notice_page'
    ,title: '通知信息表'
    ,cols: [[
      { type: 'numbers', title: '序号'}   
      ,{field:'title', title:'标题', width:120}   
      ,{field:'teacherName', title:'发布者', width:80,sort: true}
      ,{field:'startTime', title:'开始时间', width:110,sort: true}
      ,{field:'endTime', title:'结束时间', width:110,sort: true}
      ]]
	,width : '466' //宽度自动，100%父级宽度，超出宽度出现滚动
	,height : 200 //固定容器高度，内容超出高度出现滚动
//     ,limits: [10,20,30,100,500,1000]
//     ,limit: 10 //每页默认显示的数量
    ,page: true
//     ,done:function(){
//     	layui.form.render();
//     }
  });
  table.on('row(ntab)', function(obj){
// 	  console.log(obj.tr) //得到当前行元素对象
// 	  console.log(obj.data) //得到当前行数据
	  var url = 
   	  layer.open({
   		  type: 2, 
   		  content: '/TMS/notice/notice_one_data?id='+ obj.data.id+ '&amp;change=1'
   			,area:["600px","500px"]	
   	  });
	});
});

</script>

</body>
</html>